<nav class="menu" id="menu">
    <a class="item-menu profile-item">
        <img alt="profile-icon" src="/public/icons/profile.png" class="profile-icon">
        Hola, administrador 
    </a>
    <a class="item-menu selected-item" href="<%=BASE_URL+'/admin/apartamentos'%>">Inicio</a>
    <a class="item-menu" href="<%=BASE_URL+'/admin/amenities'%>">Amenidades</a>
    <a class="item-menu" href="<%=BASE_URL+'/admin/finance'%>">Finanzas</a>
    <a class="item-menu" href="<%=BASE_URL+'/admin/apartamentos'%>">Configuración</a>

</nav>