<nav class="menu" id="menu">
    <a class="item-menu profile-item">
        <img alt="profile-icon" src="/public/icons/profile.png" class="profile-icon">
        Hola, administrador 
    </a>
    <a class="item-menu selected-item" href="/public/controlPanel.html">Inicio</a>
    <a class="item-menu" href="<%=BASE_URL+'/admin/amenities'%>">Amenidades</a>
    <a class="item-menu" href="">Finanzas</a>
    <a class="item-menu" href="">Configuración</a>

</nav>