@import url('./colors.css');
*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body{
    display: grid;
    background-color: #fefefe;
}
.general-title{
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 2.1rem;
    margin-top: 3%;
    color: #6e4734;
    width: 40%;
    position: relative;
}
.backward-icon{
    width: 5%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 5%;
}
.app-name , .colab-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
}

.line{
    height: 100px;
    width: 1px;    
    background-color: var(--Cafe);
}

.app-name span, .colab-name span{
    margin: 0;
    padding: 0 20px;
}

.colab-name{
    margin: 0;    
    color: var(--Cafe);
}

.colab-name span{
    font-weight: 900;
}

.app-name span:first-child{
    color: var(--Cafe);
    font-weight: 800;
    font-family: newYork;
}
.app-name span:last-child{
    color: var(--Cafe);
    font-weight: 800;
    font-family: montserrat-light;
}


/* container amenities */
.container-amenities-list{
    display: flex;
    width: 90%;
    justify-content: center;
    justify-self: center;
    gap: 2%;
    margin-top: 5%;
}
.amenity{
    display: grid;
    width: 100%;
    padding-bottom: 1%;
    background: #efefef;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.img-amenity{
    width: 100%;
    height: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.amenity-data{
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;    
}
.amenity-name{
    grid-column: span 2;
    text-align: center;
    margin-top: 3%;
    font-family: montserrat-semi-bold;
}
.icon-amenity{
    width: 50%;
    height: auto;
    grid-column: 1;
}
.data-schedule-cost{
    font-family: montserrat-regular;
    font-size: 1rem;
    color: #484848;
    grid-column:  2;
    margin-right: 115%;
    white-space:pre;
}
.booking-btn{
    width: 20%;
    grid-column: span 2;
    background: var(--Azul-claro);
    text-decoration: none;
    border: none;
    padding: 1% ;
    color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
}
/* CALENDARIO Y EL FORMULARIO */


