@import url('./colors.css');
*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body{
    display: grid;
    background-color: #fefefe;
}
.go-back {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 3%;
    transform: translateY(-50%);
}
.go-back a{
    width: 70px;
    height: auto;
}
.backward-icon{
    width: 70px;
}
.general-title{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    height: 175px;
    color: #6e4734;
    width: 100%;
    position: relative;
}

.app-name , .colab-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    line-height: 2.5rem;
}

.line{
    height: 100px;
    width: 1px;    
    background-color: var(--Cafe);
}

.app-name span, .colab-name span{
    margin: 0;
    padding: 0 20px;
}

.colab-name{
    margin: 0;    
    color: var(--Cafe);
}

.colab-name span{
    font-weight: 900;
}

.app-name span:first-child{
    color: var(--Cafe);
    font-weight: 800;
    font-family: newYork;
}
.app-name span:last-child{
    color: var(--Cafe);
    font-weight: 800;
    font-family: montserrat-light;
}


/* container amenities */
.container-amenities-list{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    justify-self: center;
    gap: 2%;
}
.amenity{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    background: #efefef;
    border-radius: 30px;
    height: auto;
}
.img-amenity{
    width: 100%;
    height: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.amenity-data{
    display: flex;
    gap: 30px;
    flex-direction: column; 
    align-items: center;   
}
.amenity-info{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    padding: 0 10px;
}
.amenity-name{
    text-align: center;
    margin-top: 20px;
    font-family: montserrat-semi-bold;
}
.amenity-days{
    font-family: montserrat-regular;
    font-size: 1.2rem;
    color: #484848;
}
.icon-amenity{
    width: 50%;
    height: auto;
    grid-column: 1;
}
.data-schedule-cost{
    font-family: montserrat-regular;
    font-size: 1rem;
    color: #484848;
    width: 50%;
}
.data-schedule-cost ul{
    list-style: circle;
    padding: 0;
}
.booking-btn{
    width: 50%;
    background: var(--Azul-claro);
    text-decoration: none;
    text-align: center;
    font-family: montserrat-semi-bold;
    font-size: 14px;
    border: none;
    padding: 10px ;
    color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
}
/* CALENDARIO Y EL FORMULARIO */




@media screen and (max-width: 767px) {
    .app-name , .colab-name{
        font-size: 1.7rem;
        line-height: 1.4rem;
    }
    .app-name span, .colab-name span{
        padding: 0 10px;
    }
    .line{
        height: 40px;
        padding-bottom: 10px;
    }
    .go-back a{
        width: 48px;
    }
    .backward-icon{
        width: 48px;
    }
    .amenity-data{
        grid-template-columns: 1fr;
    }
}


