
@import url('./colors.css');
.calendar{
    width: 50%;
    height: 100%;
    background-color: #efefef;
    top: 50%;
    align-self: center;
}
.ec{
    background-color: #efefef !important;
}
.ec-toolbar{
    background-color: var(--Azul);
    margin-bottom: 0.2em !important;
    padding: 1% ;
    color: white;
}
.ec-title{
    font-family: montserrat-regular;
    font-size: 1.3rem;
}
.ec-header, .ec-all-day, .ec-body, .ec-days, .ec-day{
    border: 0px !important;
    cursor: pointer;
    font-family: montserrat-regular;
}
.ec-button:not(:disabled):hover, .ec-button.ec-active{
    color: black !important;
}
 
.ec-content .ec-today{
    background-color: var(--white) !important;
}