
@import url('./colors.css');
.calendar{
    width: 70%;
    height: 100%;
    background-color: #efefef;
    top: 50%;
    align-self: center;
}
.ec{
    background-color: #efefef !important;
}
.ec-toolbar{
    background-color: var(--Azul);
    margin-bottom: 0.2em !important;
    padding: 20px;
    color: white;
}
.ec-title{
    font-family: montserrat-regular;
    font-size: 1.3rem;
}
.ec-header, .ec-all-day, .ec-body, .ec-days, .ec-day{
    border: 0px !important;
    cursor: pointer;
    font-family: montserrat-regular;
}
.ec-button:not(:disabled):hover, .ec-button.ec-active{
    color: black !important;
}
 
.ec-content .ec-today{
    background-color: var(--white) !important;
}




@media screen and (min-width: 768px) and (max-width: 1023px) {
    .calendar{
        width: 100%;
        margin-top: 40px;
    }
    .ec-toolbar{
        padding: 20px;
    }
    .ec-title{
        font-size: 1.5rem;
    }
    .ec-header, .ec-all-day, .ec-body, .ec-days, .ec-day{
        font-size: 1rem;
    }
    .ec-button{
        font-size: 1rem;
    }
    .ec-content .ec-today{
        font-size: 1rem;
    }
}   


@media screen and (max-width: 767px) {
    .calendar{
        width: 100%;
        margin-top: 40px;
    }
    .ec-toolbar{
        padding: 10px;
    }
    .ec-title{
        font-size: 0.9rem;
    }
    .ec-header, .ec-all-day, .ec-body, .ec-days, .ec-day{
        font-size: 1rem;

    }
    .ec-button{
        font-size: 0.9rem;
        padding: 5px !important;
    }
    .ec-content .ec-today{
        font-size: 1rem;
    }
}