:root{
    --Azul-oscuro:  #0f1946;
    --Azul: #131f57;
    --Azul-claro: #105ef5;
    --Beige: #bbaba0;
    --Cafe:  #594535;
    --white :#FFFF
}
@font-face{
    font-family:montserrat-semi-bold;
    src: url('../css/fonts/Montserrat-SemiBold.ttf');
}
@font-face{
    font-family:montserrat-light;
    src: url('../css/fonts/Montserrat-Light.ttf');
}
@font-face{
    font-family:montserrat-medium;
    src: url('../css/fonts/Montserrat-Medium.ttf');
}
@font-face{
    font-family:montserrat-regular;
    src: url('../css/fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family:newYork;
    src: url('../css/fonts/newYork.otf');
}
.error-input{
    font-size: 0.9rem;
    font-family: montserrat-regular;
    color: red;
    position: relative; 
}
.succes-result{
    color: green;
    font-size: 0.9rem;
    font-family: montserrat-regular;
}