@import './colors.css';
@import url('./text.css');
@import './menu.css';
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-grid-apartaments{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-self: center;
    gap: 10px;
    margin-top: 2%;
}
.form-select-level{
    display: flex;
    justify-content: center;
    font-family: montserrat-regular;
    margin-top: 3%;

}
.filter-level{
    width: 30%;
    border: 1px solid #b8b2ad;
    grid-column: span 3; 
    color: #817068;
    font-family: montserrat-regular;
    margin-bottom: 2%;
    font-size: 20px;
    height: 30px;
}
.apartament-item{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    background-color: #eeeeee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-decoration: none;
}
.ocupations_state_true{
    background-color: #eeeeee;
}
.ocupations_state_false{
    background-color:;
}
.column-1{
    grid-column: 1;
}
.column-span-2{
    grid-column: span 2;
}
.apartament-number{
    font-size: 20px;
    font-family: montserrat-semi-bold;
}
.tower-icon{
    width: 90%;
    margin-top:15%;
}
.secondary-data{
    font-size: 18px;
    color:#484848 ;
    font-family: montserrat-light;
}
.container-primary-data{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
}

.apartament-name{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    color: #484848;
    font-family: montserrat-semi-bold;
    
}
.primary-data{
    font-family: montserrat-regular;
    width: 100%;
    color: #919191;
    font-size: 15px;
}
.see-more{
    font-family: montserrat-light;
    background-color: var(--Azul-claro);
    color: var(--white);
    border-radius: 20px;
    width: 50%;
    text-align: center;
    font-size: 18px;
    margin-top: 15%;
    padding: 5px;
    border: 1px solid var(--Azul-claro);
}
.see-more:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--Azul);
    border: 1px solid #5a4534;
    transition: all 0.5ms ease-in;
    -webkit-transition: all 0.5ms ease-in;
    -moz-transition: all 0.5ms ease-in;
    -ms-transition: all 0.5ms ease-in;
    -o-transition: all 0.5ms ease-in;
}

.input-form{
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    font-size: 18px;
}
.input-form:focus{
    outline: none;
}

.boton-editar {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.boton-editar img{
    width: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .filter-level {
        width: 50%;
    }
    .container-grid-apartaments {
        width: 90%;
    }
}


@media screen and (max-width: 767px) {
    .filter-level {
        width: 80%;
    }
    .container-grid-apartaments {
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    
}