@import './colors.css';
@import url('./text.css');
@import url('./controlPanel.css');
@import url('./apartmentDetails.css');

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}
.table-titel{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 50px;
    background-color: var(--Azul-oscuro);
    color: var(--white);
}
th{
    padding-left: 2%;
}
td{
    padding-left: 2%;
}
.table-row{
    height: 50px;
}
.table tbody tr:nth-child(odd) {
    background-color: lightgray; 
}
.provider_name{
    cursor: pointer;
}
.provider_name:hover{
    color: var(--Beige);
}

.record-provider_name{
    cursor: pointer;
}
.record-provider_name:hover{
    color: var(--Beige);
}

.grid-column-1{
    grid-column: span 1;
}
.grid-column-2{
    grid-column: span 2;
}
.grid-column-3{
    grid-column: span 3;
}
.grid-column-4{
    grid-column: span 4;
}


.finance-cart-backbround{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63636375;
    z-index: 100;
    opacity: 0;
}

.finance-card {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.return{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--Azul-oscuro);
}
.a-return{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.return-button{
    height: 40px;
}
.info-finance-card{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-gap: 50px;
    font-size: 18px;
}
.title-finance-form{
    place-self: center;
    font-family: montserrat-semi-bold;
    color: var(--Azul-oscuro);
}
.label-finance-form{
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0px;
    color: var(--Azul-oscuro);
    place-content: space-between;
}
.input-finance-forms{
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    font-size: 18px;
    width: 70%;
    color: var(--Azul-oscuro);
}

.select-finance-form{
    background-color: var(--Azul-oscuro);
    color: var(--white);
    padding: 1%;
    font-size: 1.1rem;
    width: fit-content;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#filter-icon{
    width: 50px;
    align-self: flex-start;
}
#filter-icon img{
    width: 50px;
}
.container-item{
    grid-row: 1;
    display: grid;
    border: none;
    height: 400px;
    overflow-y: scroll;
    grid-template-columns: 50%  50%;
    place-content: start;
    align-content: flex-start;
}

#filter-record-for-pay{

    place-self: baseline;
    grid-row: 1;
    width: 14%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    height: 0px;
}
.dropbtn{
    cursor: pointer;
    background: transparent;
    border: none;
}
.dropbtn img{
    width: 40px;
    height: 40px;
}

.dropbtn:hover{
    opacity: 0.98;
}
#form-filter-record{
    width: 250px;
    border-radius: 20px;
    min-height: 649px;
    padding: 0px 0px 20px 20px;
    background-color: lightgray;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.section-filter{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 50%;
    align-items: start;
    border: none;
}
.legend-filter{
    font-size: 18px;
    font-weight: bold;
    color: var(--Azul-oscuro);
    padding: 15px 0px;
}
.section-filter label{
    cursor: pointer;
    font-size: 16px;
}
.section-filter label:hover{
    opacity: 0.3; 
}
.radio-container{
    width: 100%;
    display: flex;
    place-content: start;
}
input[type="checkbox"] {
    display: none;
  
}
input[type="radio"] {
    display: none;
  
}
.label-filter{
    display: flex;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--Azul-oscuro);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.radio-description{
    margin-left: 5%;
}
input[type="radio"]:checked + label{
    background-color: var(--Azul-oscuro); 
}
input[name="paid"]{
    display: block;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--Azul-oscuro);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type="checkbox"]:checked + label{
    background-color: var(--Azul-oscuro); 
}

input[type="radio"]:hover {
    opacity: 0.3; 
}

.title-create-element{

    grid-row: 1;
    place-self: self-end;
    font-family: montserrat-regular;
    font-size: 1.2rem;
    border: 0.5px solid var(--Azul-oscuro);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    padding: 0.6% 0.5% 0.6% 0.5%;
}





.hide{
    display: none !important;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .finance-card {
        height: 70%;
        justify-content: space-between;
    }
    .info-finance-card{
        grid-gap: 5px;
        height: 80%;
    }
    .input-finance-forms {
        width: 100%;
    }
    .grid-column-1{
        grid-column: span 2;
    }
    .grid-column-3{
        grid-column: span 2;
    }
}


@media screen and (max-width: 767px) {
    .finance-card {
        height: 90%;
        width: 90%;
    }
    .info-finance-card{
        grid-gap: 5px;
        height: 78%;

    }
    .input-finance-forms {
        width: 100%;
    }
    .grid-column-1{
        grid-column: span 4;
    }
    .grid-column-3{
        grid-column: span 4;
    }
}