@import './colors.css';
@import url('./text.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    background-color: var(--Azul-oscuro);
    background-color:#ffffff;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 40px 0px;
    border-top-right-radius: 20px;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
    color: var(--Beige);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
    color: var(--Beige);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 40px;
    border-bottom-right-radius: 20px;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
    color: var(--Beige);
}
aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%; 
    background-image: url('../icons/backgroundLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


h1 {
    font-size: 5rem;
    font-weight: 100;
    margin: 0px;
    line-height: 4rem;
}

h2{
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
}

h3{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: montserrat-light;
    margin: 17px 0px 8px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 20px;
    background-color: var(--Azul);
    padding: 0px 40px;
    gap: 10px;
}

.input-credentials{
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
}
.label-credentials{
    font-size: 18px;
    font-weight: 100;
}

.link{
    font-size: 15px;
}
#recuerdame{
    font-size: 14px;
}
#password-details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.8rem;
    font-family: montserrat-light;
}

#password-details a{
    font-size: 14px;
    font-family: montserrat-light;
    text-align: end;
}

.link{
    text-decoration: none;
    color: var(--white);
}
.link:hover{
    color: var(--Beige);
}

#buttonon-login{
    padding: 10px 15px;
    font-size: 15px;
    background-color: var(--Beige);
    border-radius: 5px;
    color: #000000;
    border: none;
    cursor: pointer;
}

#buttonon-login:hover {
    background-color: var(--Cafe);
    color: var(--Beige);
    
}

.line-with-text {
    display: flex;
    align-items: center;
    color: var(--white);
}

.line{
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0 5px;
}

.text {
    white-space: nowrap;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: montserrat-light;
}

#login-external{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#login-external a:first-child img{
    width: 40px;
}

#login-external a:last-child img{
    width: 31px;
    padding-left: 8px;
    padding-top: 3px;
}

#login-external a img:hover{
    opacity: 0.7;
}

#pRegister{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 0.7;
    color: #ffffff;
}

#pRegister a:hover{
    color: var(--Cafe);
}

#name{
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.nameClient p{
    font-weight: 100;
}

.nameHabitad,
.nameClient{
    flex: 1;
}

.nameHabitad p,
.nameClient p{
    margin: 0;
    padding: 0 20px;
    font-size: 25px;
    line-height: 76%;
}

.nameClient{
    content: "";
    border-left: 1px solid #ffffff;
    height: 100%;
    margin: 0;    
}

.error {
    border-color: red;
}

.input-error{
    color: red;
    font-size: 12px;
    line-height: 4px;
}



.hidden{
    display: none;
}
.hide{
    display: none;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px 20px 0px;
    }
    main{
        padding: 0px 20px ;
    }

    footer{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px 20px 20px 20px;
    }

    h1{
        font-size: 3.5rem;
        line-height: 3.5rem
    }
    h2{
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 20px;
    }
    h3{
        font-size: 1.5rem;
    }
    .form{
        height: 100%;
        padding: 0px 20px;
        width: 100%;
        gap: 15px;
    }

    .nameHabitad p, .nameClient p {
        padding: 0 10px;
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width: 100%;
    }
    header{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px 20px 0px;
    }
    main{
        width: 80%;
        padding: 0px 20px ;
    }
    
    footer{
        width: 80%;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px 20px 20px 20px;
    }
    
    h1{
        font-size: 2rem;
        line-height: 2rem
    }
    h2{
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin-bottom: 20px;
    }
    h3{
        font-size: 1rem;
    }
    .form{
        height: 100%;
        padding: 0px 20px;
        width: 100%;
        gap: 15px;
    }
    .label-credentials{
        font-size: 14px;
    }
    .input-credentials{
        padding: 5px;
        font-size: 14px;
    }
    .nameHabitad p, .nameClient p {
        padding: 0 10px;
        font-size: 18px;
    }
}

