@import './colors.css';
@import url('./text.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: montserrat-light;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    background-color: var(--Azul-oscuro);
    background-color:#ffffff;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 40px 0px;
    border-top-right-radius: 20px;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
    color: var(--Beige);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0px 40px;
    border-bottom-right-radius: 20px;
    border-color: var(--Azul-oscuro);
    background-color: var(--Azul-oscuro);
    color: var(--Beige);
}
aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%; 
    background-image: url('../icons/backgroundLogin.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}




.heading{
    font-size: 5rem;
    font-weight: 100;
    color: var(--white);
    font-family: newYork;
    margin: 0px;
    line-height: 4rem;
}
.sub-heading{
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
    color: var(--Beige);
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 20px;
    background-color: var(--Azul);
    padding: 0px 40px 30px;
    gap: 10px;
}
.title-login-form{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 17px 0px 8px 0px;
    color: var(--white);
    text-align: center;
}
.select-login-form{
    border: none;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.select-login-form:hover{
    opacity: 0.8;
}
.label-login-form{
    font-size: 18px;
    font-weight: 100;
    color: var(--white);
}
.input-login-form{
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.container-remidme-session{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    border: none;
}
#remindme-session-login-form {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--white); 
    border: 2px solid var(--Beige);
    border-radius: 5px;
    outline: none;
    cursor: pointer; 
}

#remindme-session-login-form:checked {
    background-color: var(--Beige); 
}

#remindme-session-login-form {
    opacity: 0.7; 
}
.container-remidme-session label{
    font-weight: 100;
    color: var(--white);
}


#buttonLogin{
    padding: 10px 15px;
    font-size: 15px;
    background-color: var(--Beige);
    border-radius: 5px;
    color: #000000;
    border: none;
    cursor: pointer;
}

#buttonLogin:hover {
    background-color: var(--Cafe);
    opacity: 0.9;
    
}

.footer-colaborator-name{
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.app-name , .colab-name{
    flex: 1;
    text-align: center;
    line-height: 20px;
}

.app-name span, .colab-name span{
    margin: 0;
    padding: 0 20px;
    font-size: 25px;
}

.colab-name{
    content: "";
    border-left: 1px solid #ffffff;
    height: 100%;
    margin: 0;    
    font-weight: 100;
    color: var(--white);
}
.app-name{
    width: 0px;
}

.app-name span:first-child{
    color: var(--white);
    font-family: newYork;
}






@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px 20px 0px;
    }
    main{
        padding: 0px 20px ;
    }

    footer{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px 20px 20px 20px;
    }

    h1{
        font-size: 3.5rem;
        line-height: 3.5rem
    }
    h2{
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 20px;
    }
    h3{
        font-size: 1.5rem;
    }
    .form{
        height: 100%;
        padding: 0px 20px;
        width: 100%;
        gap: 15px;
    }

    .nameHabitad p, .nameClient p {
        padding: 0 10px;
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    aside{
        width: 100%;
    }
    header{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 20px 20px 0px;
    }
    main{
        width: 80%;
        padding: 0px 20px ;
    }
    
    footer{
        width: 80%;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px 20px 20px 20px;
    }
    
    h1{
        font-size: 2rem;
        line-height: 2rem
    }
    h2{
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin-bottom: 20px;
    }
    h3{
        font-size: 1rem;
    }
    .form{
        height: 100%;
        padding: 0px 20px;
        width: 100%;
        gap: 15px;
    }
    .label-credentials{
        font-size: 14px;
    }
    .input-credentials{
        padding: 5px;
        font-size: 14px;
    }
    .nameHabitad p, .nameClient p {
        padding: 0 10px;
        font-size: 18px;
    }
}

